body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: black;
}

#artCanvas {
    border: 1px solid black;
}
  
#downloadLink {
  display: block;
  margin-top: 10px;
}
